:root {
  --dark: #19191b;
  --light-dark: #20291f4f;
  --hover:#33374d28;
  --white: #ffffff;
  --light: #f3f3f3;
  --box-shad: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-radius: 4px;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: var(--dark);
}

body {
  background: #2d2d2e;
  background-image: linear-gradient(0deg,rgba(17,14,31,.35),rgba(17,14,31,.35)),linear-gradient(330deg,#191716eb -10%,#607d8bf5 46.3%,#e91e63ad 110%),url(assets/bg.jpg);
  width: 320px;
  height: 350px;
  max-height: 350px;
  font-family: 'Consolas', sans-serif;
  margin: 0;  
  overflow-x: hidden;
}

header {  
  height: 15%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;  
  border-bottom: 1px solid var(--light-dark);
  text-transform: uppercase;
  letter-spacing: 2px;
}

header button {    padding: 3px 10px 0;}

.container {height: 84%;}
.container, header {padding:10px;}

h3 {text-align: center;  margin: 0; }

small {font-size: 8px;}

button,
a {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    background-color: #3a444d78;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 12px 24px 10px;
    border-radius: 4px;
    min-height: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    transition: all .15s ease-in-out;
    outline: none !important;
}

.btn-default {
  background-color: transparent !important;
  border-color: #3a444d;
}

button img { width: 20px;  height: 20px;}
button:hover,a:hover { background-color: var(--dark);}
.btn-default:hover {  background-color: #3a444d !important; }
button,
svg {
  display: inline-block;
  vertical-align: middle;
}

input {
  background-color: var(--white);
  color: var(--dark);
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: 0;
  outline: none !important;
}

button {
  box-shadow: var(--box-shad);
}

button,svg {display: inline-block; vertical-align: middle;}

ul {
  width: 100%;
  height: 100%;
  margin: 0; 
  padding: 5px; 
  list-style: none;
  overflow: auto;
}

li {
  padding: 7px;
  display:flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
/*******************************/
.d-flex {
  display: flex;
  align-items: center;
}

.d-flex-col {display:flex; flex-direction: column; justify-content: space-between;}
.justify-center {  justify-content: center;}
.align-center { align-items: center;}

.col-3>* {  width: 31%;  max-width: 31%;}
.col-5>* {  width: 18%;  max-width: 18%;}

.w-100 {
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.py-1 {padding: 10px 0;}

.mb-10 { margin-bottom: 10px;}
.mr-5 { margin-right: 5;}
.mr-10 {margin-right: 10px;}
.ml-10 {margin-left: 10px;}

.fs-18 {font-size: 18px !important;}
.txt-left {text-align: left;}

.disabled {
  background-color: var(--light-dark);
}

.badge {    font-size: 10px; color: #b8b8b8;}
/*******************************/
.output {
  text-align: center;
  background-color: var(--light);
  padding: 10px;
  box-shadow: var(--box-shad);
  text-align: center;
  text-transform: uppercase;
}

.output h2 {font-size: 30px; margin: 0;}
/**************************************/
.history-conversions {display: none;
  color: #fff;
  font-weight: 600;
  height: 100%;
  font-size: 14px;
  padding: 0;}

  .history-conversions li {flex-direction: column; border-bottom: 1px solid #3131319a; border-radius: 0; }
  .history-conversions li div { justify-content: space-between !important; max-width: 100%; }
/**************************************/
.drops {
  justify-content: space-between;
}
.dropdown {
  position: relative;
  width: 47%;
}
.dropdown .field {
  width: 100%;
  padding: 15px 0 15px 50px !important;
  margin-bottom: 10px;
  transition: all .4s ease-in-out;
}

.dropdown>ul.list {
  display: none;
  position: absolute; left: 0; top: 50px; z-index: 999;
  background: #fff; 
  color: #333;
  height: 200px;
}

.dropdown>ul.list li img{ margin-right: 5px; }

.dropdown>ul.list li:hover {
  background: var(--light-dark);
}

li:last-child {
  border: none
}

.input-container {position: relative; }
.img-input {position: absolute; top: 5px; left: 5px; max-width: 38px;}
/*******************************/
.spinner {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;  
  background-color: var(--light-dark);
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*******************************/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track { background: transparent;}

::-webkit-scrollbar-thumb {
  background: var(--light-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}