body {
  margin: 0;
  background-color: #3c3c3c;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(rgba(23, 27, 29, 0.562), rgba(18, 19, 20, 0.92)), url(sky.jpg);
}

.container {
  width: 270px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.w-desc {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 10px !important;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #565656;
  padding-top: 10px;
  font-size: 10px;
}

h1 {
  font-size: 35px;
  margin: 0;
}

img {
  width: 130px;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.cl-blue-sky {
  color: #56a0ee !important;
}

.mb-10 {margin-bottom: 10px !important;}